@import url("https://fonts.googleapis.com/css2?family=DM+Sans:wght@400;500;700&family=Noto+Sans:wght@100;200;300;400;500;600;700;800;900&family=Poppins:wght@100;200;300;400;500;600;700;800;900&family=Space+Grotesk:wght@300;400;500;700&display=swap");


/* Roots */
:root{
  --primary:#00AA96;
 --danger:#FF0421;
 --gray:#999999;
 --black:#00061A;
 --blackI:#1A1A1A;
 --dark:#2D2D3D;
}

body{
    font-family: "Noto Sans", sans-serif !important;
}

h1,h2,h3,h4,h5,h6{
  font-family: "Space Grotesk", sans-serif !important;

}


/* font Size Config */

.h5t{
  font-size: 16px;
}
.h6tt{
  font-size: 13px;
}


/* Fonts Config */

.font-1 {
  font-family: "Space Grotesk", sans-serif !important;
}

.font-2 {
  font-family: "DM Sans", sans-serif !important;
}

.font-3 {
  font-family: "Poppins", sans-serif !important;
}

/* Utils */
::-webkit-scrollbar {
  width: 5px;
}
.pointer{
  cursor: pointer;
}

.rounded1{
  border-radius: 13px !important;
}
/* .rounded2{
  border-radius: 13px !important;
} */

/* Color */

.danger{
  color: var(--danger);
}
.gray{
  color: var(--gray);
}
.black{
  color: var(--black);
}
.blackI{
  color: var(--blackI);
}
.dark{
  color: var(--dark);
}

/* Background Color */

.primaryI{
  background-color: var(--primary) !important;
}


/*  */

.offcanvas, .offcanvas-lg, .offcanvas-md, .offcanvas-sm, .offcanvas-xl, .offcanvas-xxl {

  --bs-offcanvas-width: 420px !important;
border: none !important;
}

.offcanvas-backdrop {
background-color: #9EA1AF !important;
}

/* Custom */

.py-4t {
  padding-top: 1.8rem!important;
  padding-bottom: 1.8rem!important;
}

/* Font-weight */
.fw-1{
  font-weight: 500 !important;
}